<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>

    <p>2701 E 6425 S, South Ogden, UT 84403</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "2083604649" %></p>

    <h3>Email</h3>

    <p><a href="mailto:spaul1522@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3696.9003931852144!2d-111.91577768432022!3d41.14620001887446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875306fa53220619%3A0x48b876422565a54f!2s2701+E+6425+S%2C+Ogden%2C+UT+84403!5e1!3m2!1sen!2sus!4v1513183870682" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<!-- <p><%= number_to_phone "(555)5555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "53.2" %></p>

<p><%= number_with_delimiter "5616131365165" %></p> -->