<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Address</h3>

        <p>...</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "208" %></p>

        <h3>Email</h3>

        <p><a href="mailto:spaul1522@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- <p><%= number_to_phone "(555)5555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "53.2" %></p>

<p><%= number_with_delimiter "5616131365165" %></p> -->